body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
.nav-bar  {
    display: flex;
    align-items: center;
    padding: 6px;
}
#about {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
        margin-left: 5px;
    color: black;
    margin-left: 15px;
}
